<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Deatls</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h4><%= student.name %></h4>
    <h4><%= student.age %></h4>
    <h4><%= student.phone %></h4>
    <h4><%= student.address %></h4>
    <a href="/students/<%= student._id %>/edit">Update Details</a>
  </body>
</html>
